<div class="container">
  <h1>Catálogo de Livros</h1>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Resumo</th>
          <th>Editora</th>
          <th>Autores</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let livro of livros; index as i"
          [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
        >
          <td class="hd-title">
            {{ livro.titulo }}
            <button (click)="excluir(livro.codigo)">Excluir</button>

          </td>
          <td>
            {{ livro.resumo }}
          </td>
          <td>{{ obterNome(livro.codEditora) }}</td>
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{ autor }}</li>
            </ul>
          </td>

          <!--<td>{{ livro.autores.join(', ') }}</td>-->
        </tr>
      </tbody>
    </table>
  </div>

</div>
